@use './util' as u;
header{
    width: auto;
    height: 56px;
    background-color: u.$header-color;
    background-image: u.$header-image;
    padding: 0 1.5rem;
    @include u.forFlex(space-between, stretch);
    
    ul{
        .announcement-noti{
            
            position: relative;
            .announcement--container{
                width: 19.6875rem;
                height: 36.375rem;
                position: absolute;
                z-index: 1;
                top: 2.625rem;
                right: 0;
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
                font-size: 0.875rem;
                display: flex;
                flex-direction: column;
                opacity: 0;
                pointer-events: none;
                transform: translateY(-10px);
                transition: opacity 250ms ease-in, transform 250ms ease-in;
                .announcement-content-container{
                    flex-grow: 1;
                    overflow: scroll;
                    overflow-x: hidden;
                    .dnd-on{
                        background-color: #ffffee;
                    }
                    .announcement-content{
                        padding: 1rem;
                        border-bottom: 0.09375rem solid rgba(34, 34, 34, 0.1215686275);
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        img{
                            width: 1.25rem;
                            height: 1.25rem;
                            filter: invert(36%) sepia(83%) saturate(337%) hue-rotate(103deg) brightness(91%) contrast(98%);
                        }
                        .custom-color{
                            color: #6e6e6e;
                        }
                        .custom-font-size{
                            font-size: 0.75rem;
                        }
                        .custom-span {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                        div{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            color: #222222;
                            font-size: 0.875rem;
                        }
                        .attach-file{
                            width: 0.9375rem;
                            height: 0.9375rem;
                            filter: invert(43%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(98%) contrast(87%);
                        }
                    }
                }
                .sticky{
                    display: flex;
                    height: 3rem;
                    color: #1f7a54;
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                
                
            }
            .announcements--container--dropdown{
                opacity: 1;
                transform: translateY(0);
                transition: transform 250ms ease-in;
                pointer-events: auto;
            }
        }
        list-style-type: none;
        @include u.forFlex(space-between, stretch);
        width: 60%;
        #user-dp{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
        
        
        a{
            @include u.links;
        }
        .notification{
            @include u.forNotification(#2A7FF3, white, );
        }
        .notification-prof{
            @include u.forNotification(#FFFFFF, black, );
        }
        .white-hover {
            padding-bottom: 8px;
            margin-top: 20px;
            border-bottom: 4px solid transparent;
            @include u.hoverItem;
        }
        .hamburger-menu{
            display: none;
        }
        
    }
}